html {
    background: url("images/booth-backdrop.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Special Elite', serif;
    color: #ffffff;
}

h1 {
    font-family: 'Bangers', serif;
    text-align: center;
    font-size: 3em;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding: 10px;
    margin: auto;
    background-color: #F2871C;
    border-radius: 12px;
}

button {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Special Elite', serif;
    border: none;
    font-size: 2em;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    margin-top: 5px;
}

#booth {
    height: 450px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    cursor: url("images/cursor-scope.png"), auto;
}

.rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.active {
    width: 33%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url("images/duck.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: duckMoves;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.inactive {
    width: 33%;
    height: 100px;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

#yourScore {
    position: fixed;
    bottom: 0px;
    left: 10px;
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

#mycounter {
    position: fixed;
    bottom: 0px;
    right: 10px;
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

@keyframes duckMoves {
    0% {
        left: 0%;
    }
    25% {
        left: 15%;
        transform: rotateY(180deg);
    }
    50% {
        left: 0%;
    }
    75% {
        left: 15%;
    }
    100% {
        left: 0%;
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 2em;
    }
    #start {
        font-size: 1em;
        padding: 10px;
    }
    #yourScore {
        font-size: 1em;
        padding: 10px;
    }
    #mycounter {
        font-size: 1em;
        padding: 10px;
    }
    .active {
        height: 100px;
    }
    .inactive {
        height: 100px;
    }
    #booth {
        margin-left: 0;
        margin-right: 0;
    }
}
